<table>
    <thead>
        <tr data-bind="foreach: Questions">
            <th data-bind="text: title"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach:responses">
        <tr data-bind="foreach:answers">
            <th>
                <input type="text" data-bind="value:answer"/>
            </th>
        </tr>
    </tbody>
</table>
<div data-bind="foreach: Charts">
    <div style="width:500px">
        <div>
            <span data-bind="text: title"></span>
        </div>
        <span>Show Pie Chart </span><input type="checkbox" data-bind="checked: isShowPie"/>
        <span>&nbsp; Show Bar Chart </span><input type="checkbox" data-bind="checked: isShowBar" />
        <span>&nbsp; Show Line Chart </span><input type="checkbox" data-bind="checked: isShowLine" />
        <canvas data-bind="attr:{id: 'chart-pie' + qid}, visible: isShowPie" width="200" height="400"></canvas>
        <canvas data-bind="attr:{id: 'chart-bar' + qid}, visible: isShowBar" width="200" height="400"></canvas>
        <canvas data-bind="attr:{id: 'chart-line' + qid}, visible: isShowLine" width="200" height="400"></canvas>
    </div>
</div>