<div class="question-mask">
    <span>Question </span><span data-bind="text: $index"></span>
    <div class="q-btns">
        <input type="checkbox" value="Edit" data-bind="checked: inedit"/>
        <input type="button" value="Remove" data-bind="click: $parent.removeQuestion"/>
    </div>
</div>
<div class="q-title"><h2><span data-bind="text: title"></span></h2></div>
<div class="q-shortdescription"><h4 data-bind="text: shortdescription, visible: useshortdescription"></h4></div>

<select data-bind="foreach: choices" class="q-choices">
        <option data-bind="text: choice_value"></option>
</select>
<div class="edit" data-bind="visible: inedit">  
    <div class="q-title-edit">
        <h5><span>Question</span></h5>
        <input data-bind="value: title" />
    </div>
    <div class="q-required-edit">
        <span>Required </span><input type="checkbox" data-bind="checked:isrequired"/>
    </div>
    <div class="q-description-edit">
        <span>Use Short Description</span>
        <input type="checkbox" data-bind="checked: useshortdescription" />
        <span data-bind="visible: useshortdescription">Short Description</span>
        <input data-bind="value: shortdescription, visible : useshortdescription" />
    </div>   
    <div class="q-options-edit">
        <h5><span>Options</span></h5>
        <div data-bind="foreach: choices" class="q-choices-edit">
            <span>Option </span><span data-bind="text: $index"></span>
            <input data-bind="value: choice_value" />
        </div>
        <input type="button" value="Add More" data-bind="click:addchoice"/>
    </div>
</div>


