<div class="question-mask">
    <span>Question </span><span data-bind="text: $index"></span>
    <div class="q-btns">
        <input type="checkbox" value="Edit" data-bind="checked: inedit" />
        <input type="button" value="Remove" data-bind="click: $parent.removeQuestion" />
    </div>
</div>
<div class="q-title"><h2><span data-bind="text: title"></span></h2></div>
<div class="q-shortdescription"><h4 data-bind="text: shortdescription, visible: useshortdescription"></h4></div>
<textarea class="textarea" style="width:500px;height:150px;"></textarea>
<div class="edit" data-bind="visible: inedit">
    <div class="q-title-edit edit-block">
        <span>Question</span>
        <input data-bind="value: title" />
    </div>
    <div class="q-required-edit edit-block">
        <span>Required </span>
        <input type="checkbox" data-bind="checked:isrequired" />
    </div>
    <div class="q-description-edit edit-block">
        <div class="edit-block">
            <span>Use Short Description</span>
            <input type="checkbox" data-bind="checked: useshortdescription" />
        </div>
        <div>
            <span data-bind="visible: useshortdescription">Short Description</span>
            <input data-bind="value: shortdescription, visible : useshortdescription" />
        </div>
    </div>
    <div class="q-score-edit edit-block">
        <div class="edit-block">
            <span>Score feature</span>
            <input type="checkbox" data-bind="checked: isscored" />
        </div>
    </div>
    <div class="q-detect-edit edit-block">
        <div class="edit-block">
            <span>Use to detect next page </span>
            <input type="checkbox" data-bind="checked:nextpagedetect" />
        </div>
    </div>
    <div class="q-options-edit edit-block" data-bind="visible: showoption">
        <h5><span>Options</span></h5>
        <div data-bind="foreach: choices" class="q-choices-edit">
            <div class="edit-block">
                <span>Option </span><span data-bind="text: $index"></span>
                <input data-bind="value: choice_value" />
                <span data-bind="visible:$parent.isscored">Score</span>
                <input type="number" data-bind="value: score, visible:$parent.isscored" />
                <span data-bind="visible:$parent.nextpagedetect">Next page</span>
                <input type="number" data-bind="value: nextpage, visible:$parent.nextpagedetect" />
            </div>
        </div>
        <input type="button" value="Add More" data-bind="click:addchoice" />
    </div>
</div>