<div class="question-mask">
    <span>Question </span><span data-bind="text: $index"></span>
    <div class="q-btns">
        <input type="checkbox" value="Edit" data-bind="checked: inedit" />
        <input class="button remove-button" type="image" src="/Pages/view/templates/icon/remove-2-button.png" width="20" height="20" data-bind="click: $parent.removeQuestion" />
    </div>
</div>
<div class="q-title"><h2><span data-bind="text: title"></span></h2></div>
<div class="q-shortdescription"><h4 data-bind="text: shortdescription, visible: useshortdescription"></h4></div>
<input type="text" />
<div class="edit" data-bind="visible: inedit">
    <div class="q-title-edit edit-block">
        <b class="edit-label"><span>Question</span></b>
        <input class="textbox-edit" data-bind="value: title" />
    </div>
    <div class="q-required-edit edit-block">
        <b class="edit-label"><span>Required </span></b>
        <input type="checkbox" data-bind="checked:isrequired" />
    </div>
    <div class="q-description-edit edit-block">
        
            <b class="edit-label"><span>Use Short Description</span></b>
            <input type="checkbox" data-bind="checked: useshortdescription" />   
        <div>
            <b class="edit-label"><span data-bind="visible: useshortdescription">Short Description</span></b>            
            <input class="textbox-edit" data-bind="value: shortdescription, visible : useshortdescription" />
        </div>
    </div>   
    <div class="q-score-edit edit-block">
        <b class="edit-label"><span>Score feature</span></b>
        <input type="checkbox" data-bind="checked: isscored" />    
    </div>
    <div class="q-detect-edit edit-block">
        <b class="edit-label"><span>Use to detect next page </span></b>       
        <input type="checkbox" data-bind="checked:nextpagedetect" />       
    </div>
    <div class="q-options-edit edit-block" data-bind="visible: showoption">
        <b class="edit-label"><span>Options</span></b> 
        
        <div data-bind="foreach: choices" class="q-choices-edit">
            <div>
                <span>Option </span>
                <input data-bind="value: choice_value" />
                <span data-bind="visible:$parent.isscored">Score</span>
                <input type="number" data-bind="value: score, visible:$parent.isscored" />
                <span data-bind="visible:$parent.nextpagedetect">Next page</span>
                <input type="number" data-bind="value: nextpage, visible:$parent.nextpagedetect" />
            </div>
        </div>
        <input type="button" value="Add More" data-bind="click:addchoice" />
    </div>
    <div class="q-required-content-edit edit-block" data-bind="with: requiredcontent">
        <div class="moreoption-bar"><b class="edit-label"><span>More options</span></b></div>
        <b class="edit-label"><span>Used</span></b>  <input type="checkbox" data-bind="checked: used" />
        <div data-bind="visible: used">
            <span>Number only </span><input type="checkbox" data-bind="checked: isnumber" />
            <span data-bind="visible:isnumber">Min value</span>
            <input type="number" data-bind="visible:isnumber, value: nmin"/>
            <span data-bind="visible:isnumber">Max value</span>
            <input type="number" data-bind="visible:isnumber, value: nmax" />
            <span data-bind="visible:!isnumber()">Min length</span>
            <input type="number" data-bind="visible:!isnumber(), value: min" />
            <span data-bind="visible:!isnumber()">Max length</span>
            <input type="number" data-bind="visible:!isnumber(), value: min" />
            <span data-bind="visible: !isnumber()">Requried Words</span>           
            <div data-bind="foreach: must, visible:!isnumber()">
                <input type="text" data-bind="value: svalue"/><a class="btn btn-primary" role="button" data-bind="click: $parent.removemust">remove</a>
            </div>
            <input type="button" value="add" data-bind="click: addmust, visible:!isnumber()"/>
            <span data-bind="visible: !isnumber()">Banned Words</span>
            <div data-bind="foreach: mustnot, visible:!isnumber()">
                <input type="text" data-bind="value: svalue" /><a class="btn btn-primary" role="button" data-bind="click: $parent.removebanned">remove</a>
            </div>
            <input type="button" value="add" data-bind="click: addbanned, visible:!isnumber()" />           
        </div>
    </div>
</div>