<div class="question-mask">
    <span>Question </span><span data-bind="text: $index"></span>
    <div class="q-btns">
        <input type="checkbox" value="Edit" data-bind="checked: inedit" />
        <input class="button remove-button" type="image" src="/Pages/view/templates/icon/remove-2-button.png" width="20" height="20" data-bind="click: $parent.removeQuestion" />
    </div>
</div>
<div class="q-title"><h2><span data-bind="text: title"></span></h2></div>
<div class="q-shortdescription"><h4 data-bind="text: shortdescription, visible: useshortdescription"></h4></div>
<input type="text" />
<div class="edit" data-bind="visible: inedit">
    <div class="q-title-edit edit-block">
        <b class="edit-label"><span>Question</span></b>
        <input class="textbox-edit" data-bind="value: title" placeholder="Enter your question here!" />
    </div>
    <div class="edit-block">
        <b class="edit-label"><span data-bind="visible: useshortdescription">Short Description</span></b>
        <input class="textbox-edit" placeholder="Describe your question here!" data-bind="value: shortdescription, visible : useshortdescription" />
    </div>
    <div class="q-required-edit edit-block inline-option">
        <input type="checkbox" data-bind="checked:isrequired" />
        <b class="edit-label"><span>Required </span></b>
    </div>
    <div class="q-description-edit edit-block inline-option">
        <input type="checkbox" data-bind="checked: useshortdescription" />
        <b class="edit-label"><span>Use Short Description</span></b>
    </div>
    <div class="q-score-edit edit-block inline-option">
        <input type="checkbox" data-bind="checked: isscored" />
        <b class="edit-label"><span>Score feature</span></b>
    </div>
    <div class="q-detect-edit edit-block inline-option">
        <input type="checkbox" data-bind="checked:nextpagedetect" />
        <b class="edit-label"><span>Use to detect next page </span></b>
    </div>
    <div class="q-options-edit edit-block" data-bind="visible: showoption, template: { name: 'optionsedit', templateUrl: '../../Pages/view/templates/tmp_questions/edit'}">
    </div>
    <div class="q-required-content-edit edit-block" data-bind="template: { name: 'requitecontendedit', data: requiredcontent, templateUrl: '../../Pages/view/templates/tmp_questions/edit'}">
    </div>
</div>