<div class="question-mask">
    <span>Question </span><span data-bind="text: $index"></span>
    <div class="q-btns">
        <input type="checkbox" value="Edit" data-bind="checked: inedit" />
        <input class="button remove-button" type="image" src="/Pages/view/templates/icon/remove-2-button.png" width="20" height="20" data-bind="click: $parent.removeQuestion" />
    </div>
</div>
<div class="q-title"><h2><span data-bind="text: title"></span></h2></div>
<div class="q-shortdescription"><h4 data-bind="text: shortdescription, visible: useshortdescription"></h4></div>
<input type="text" />
<div class="edit" data-bind="visible: inedit">
    <div class="q-title-edit edit-block">
        <b class="edit-label"><span>Question</span></b>
        <input class="textbox-edit" data-bind="value: title" />
    </div>
    <div class="q-required-edit edit-block">
        <b class="edit-label"><span>Required </span></b>
        <input type="checkbox" data-bind="checked:isrequired" />
    </div>
    <div class="q-description-edit edit-block">
        
            <b class="edit-label"><span>Use Short Description</span></b>
            <input type="checkbox" data-bind="checked: useshortdescription" />   
        <div>
            <b class="edit-label"><span data-bind="visible: useshortdescription">Short Description</span></b>            
            <input class="textbox-edit" data-bind="value: shortdescription, visible : useshortdescription" />
        </div>
    </div>   
    <div class="q-score-edit edit-block">
        <b class="edit-label"><span>Score feature</span></b>
        <input type="checkbox" data-bind="checked: isscored" />    
    </div>
    <div class="q-detect-edit edit-block">
        <b class="edit-label"><span>Use to detect next page </span></b>       
        <input type="checkbox" data-bind="checked:nextpagedetect" />       
    </div>
    <div class="q-options-edit edit-block" data-bind="visible: showoption">
        <b class="edit-label"><span>Options</span></b> 
        
        <div data-bind="foreach: choices" class="q-choices-edit">
            <div class="opttion-row">
                <span>Option </span>
                <input data-bind="value: choice_value" />
                <span data-bind="visible:$parent.isscored">Score</span>
                <input class="number-edit" type="number" data-bind="value: score, visible:$parent.isscored" />
                <span data-bind="visible:$parent.nextpagedetect">Next page</span>
                <select data-bind="foreach: sur.pages, value: nextpage, visible:$parent.nextpagedetect">
                    <option data-bind="text: $index()+1, value: $index"></option>
                </select>
                <input class="button remove-button" type="image" src="/Pages/view/templates/icon/remove-2-button.png" width="20" height="20" data-bind="click: $parent.removechoice" />
            </div>
        </div>
        <input class="button add-button" type="image" src="/Pages/view/templates/icon/add-button.png" width="20" height="20"  data-bind="click:addchoice" />
    </div>
    <div class="q-required-content-edit edit-block" data-bind="with: requiredcontent">
        <div class="moreoption-bar"><b class="edit-label"><span>More options</span></b></div>
        <div><b class="edit-label w3-quarter"><span>Used</span></b>  <input type="checkbox" data-bind="checked: used" /></div>
                                                     <div data-bind="visible: used">
                                                         <div>
                                                             <b class="edit-label w3-third">
                                                                 <span>Input type</span>
                                                             </b>
                                                             <select data-bind="value: inputtype">
                                                                 <option data-bind="text: 'text'">text</option>
                                                                 <option data-bind="text: 'number'">number</option>
                                                                 <option data-bind="text: 'color'">color</option>
                                                                 <option data-bind="text: 'date'">date</option>
                                                                 <option data-bind="text: 'time'">time</option>
                                                                 <option data-bind="text: 'datetime-local'">datetime-local</option>
                                                                 <option data-bind="text: 'email'">email</option>
                                                                 <option data-bind="text: 'month'">month</option>
                                                                 <option data-bind="text: 'password'">password</option>
                                                                 <option data-bind="text: 'range'">range</option>
                                                                 <option data-bind="text: 'tel'">tel</option>
                                                                 <option data-bind="text: 'time'">time</option>
                                                                 <option data-bind="text: 'url'">url</option>
                                                                 <option data-bind="text: 'week'">week</option>
                                                             </select>
                                                         </div>
                                                         <div>
                                                             <b class="edit-label w3-third"><span data-bind="visible:isnumber()">Min value</span></b>
                                                             <input class="number-edit" type="number" data-bind="visible:isnumber(), value: nmin, attr: {step: step}" />
                                                         </div>
                                                         <div>
                                                             <b class="edit-label w3-third"><span data-bind="visible:isnumber()">Max value</span></b>
                                                             <input class="number-edit" type="number" data-bind="visible:isnumber(), value: nmax, attr: {step: step}" />
                                                         </div>
                                                         <div>
                                                             <b class="edit-label w3-third"><span data-bind="visible:isnumber()">Step</span></b>
                                                             <input class="number-edit" type="number" step="0.01" data-bind="visible:isnumber(), value: step" />
                                                         </div>
                                                         <div>
                                                             <b class="edit-label w3-third"><span data-bind="visible: inputtype() =='text'">Min length</span></b>
                                                             <input class="number-edit" type="number" data-bind="visible:inputtype() =='text', value: min" />
                                                         </div>
                                                         <div>
                                                             <b class="edit-label w3-third"><span data-bind="visible:inputtype() =='text'">Max length</span></b>
                                                             <input class="number-edit" type="number" data-bind="visible:inputtype() =='text', value: max" />
                                                         </div>
                                                         <div>
                                                             <b class="edit-label w3-third"><span data-bind="visible: inputtype() =='date'">Min date</span></b>
                                                             <input class="date-edit" type="date" data-bind="visible:inputtype() =='date', value: minday" />
                                                         </div>
                                                         <div>
                                                             <b class="edit-label w3-third"><span data-bind="visible:inputtype() =='date'">Max date</span></b>
                                                             <input class="date-edit" type="date" data-bind="visible:inputtype() =='date', value: maxday" />
                                                         </div>                                                                                                 
                                                         <div>
                                                             <b class="edit-label w3-third"><span data-bind="visible: inputtype() =='text'">Requried Words</span></b>
                                                             <div class="mustandnotlist" data-bind="foreach: must, visible: inputtype() =='text'">
                                                                 <div class="opttion-row">
                                                                     <input type="text" data-bind="value: svalue" /><input class="button remove-button" type="image" src="/Pages/view/templates/icon/remove-2-button.png" width="20" height="20" data-bind="click: $parent.removemust" />
                                                                 </div>
                                                             </div>
                                                             <input class="button add-button" type="image" src="/Pages/view/templates/icon/add-button.png" width="20" height="20" data-bind="click: addmust, visible: inputtype() =='text'" />
                                                         </div>
                                                         <div>
                                                             <b class="edit-label w3-third"><span data-bind="visible: inputtype() =='text'">Banned Words</span></b>
                                                             <div class="mustandnotlist" data-bind="foreach: mustnot, visible: inputtype() =='text'">
                                                                 <div class="opttion-row">
                                                                     <input type="text" data-bind="value: svalue" /><input class="button remove-button" type="image" src="/Pages/view/templates/icon/remove-2-button.png" width="20" height="20" data-bind="click: $parent.removebanned" />
                                                                 </div>
                                                             </div>
                                                             <input class="button add-button" type="image" src="/Pages/view/templates/icon/add-button.png" width="20" height="20" data-bind="click: addbanned, visible: inputtype() =='text'" />
                                                         </div>
                                                     </div>
    </div>
</div>