@{
    ViewBag.Title = "Contact";
}
<h2 style="padding-top: 60px;" class="w3-center">@ViewBag.Title.</h2>


<address class="w3-center">
    Le Tu<br />
    HCMC, C6 department, Distrist 9<br />
    <abbr title="Phone">P:</abbr>
    01699. 68. 73. 76
</address>

<address style="padding-bottom:200px;" class="w3-center">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">levantu.13139@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">lvtu.ityu@gmail.com</a>
</address>