@{
    ViewBag.Title = "Home Page";
}

    @Styles.Render("~/Pages/src/css/cover.css")


<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="~/Pages/pictures/website-background.jpg" alt="Hamburger Catering" width="1600" height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
        <h1 class="cover-heading">Things come from information</h1>
        <p class="lead">Sur brings you the fastest way to create a survey</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Get Started</a>
        </p>
    </div>
</header>

   <div class="w3-content" style="max-width:1100px">
       <div class="w3-row w3-padding-64" id="about">
           <div style="padding-right:20px;" class="w3-col m6 w3-padding-large w3-hide-small">
               <img style="float:right" src="~/Pages/pictures/menu.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="400" height="750">
           </div>

           <div class="w3-col m6 w3-padding-large w3-justify">
               <h2 class="featurette-heading">Multiple type of questions. <span class="text-muted">There will be varied surveys.</span></h2>
               <p class="lead">
                   Question are design with many feature to help you design a dynamical form. With paging method, you can control data flow in your survey in your own way. We aim to build a system with most powerful features to design every form.
               </p>
           </div>
       </div>

       <hr>
   </div>


<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large w3-justify">
        <h2 class="featurette-heading">Create with no limit. <span class="text-muted">It's all free.</span></h2>
        <p class="lead">
            Draging and droping are all you need to create a new question. We don't limit number of page or number of question you can design. We aslo suport a number of theme to make your creation in well designed.
        </p>
    </div>

    <div class="w3-col l6 w3-padding-large">
        <img src="~/Pages/pictures/page.png" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
</div>
<hr />
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small" style="padding-right:20px">
        <img style="float:right" src="~/Pages/pictures/graph.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="300" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large w3-justify">
        <h2 class="featurette-heading">Analyze your report. <span class="text-muted">Support your desicion.</span></h2>
        <p class="lead">
            We support your decisions by giving you graph base on your survey's statictics. With many type of chart, we believe this system can help you to a completed view in your database. We aim to support your solution.
        </p>
    </div>
</div>
    <hr class="featurette-divider">

