@model new123.Models.Survey

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/SurveyEditLayout.cshtml";
}
<script type="text/javascript">

    surveryid = @Html.DisplayFor(model => model.SurveyID);
</script>
@Scripts.Render("~/Pages/view/Global.js")
@Scripts.Render("~/Pages/view/tu-Form.js")
@Scripts.Render("~/Pages/view/mainform.js")
<h2>Form</h2>
<div id='survey-content'>
    <div class="survey-area" data-bind="template: { name: whichTemplateToUse4, data: items3, as: 'sur' }"></div>
</div>
<div><input type="button" value="Submit" onclick="SubmitResponseToDatabase()" /></div>
