.survey-area {
    width: 70%;
    background-color: #f5f5f591;
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px 20px 20px 20px;
    min-width: 500px;
}
.question-block {
    width: 100%;
    margin: 10px 10px 10px 10px;
    min-height: 50px;
}

.survey-header-bar {
    background-color: #4caf50;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.survey-header-bar span{
    color: white;
}
.question-content {
    background-color: white;
    margin: 10px 20px 10px 10px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
.question-mask{
    display: block;
}
.q-choice{
    display:block;
    margin-left: 10px;
}
.q-btns{
    float: right;
}
.edit-block input{
    display: inline-block;
}

.page-title{
    display: inline-block;
}
.page-button{
    float: right;
    display: inline-block;
}
.page-area {
    background-color: #337ab726;
    padding-bottom: 5px;
}
.page-bar {
    background-color: #63d063a3;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.edit {
    padding-top: 20px;

}
.q-title-edit {
    background-color: #f3ca8e3b;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.edit-block {
    background-color: #f3ca8e3b;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
}

.textbox-edit{
    width: 70%;
}
.moreoption-bar{
    padding: 3px;
    background-color: purple;
}
.remove-button{
    border-radius: 100%;
}
.number-edit{
    width: 100px;
}
.opttion-row{
    padding-top: 5px;
}
.tab-button{
    padding-top: 20px;
    display: inline-block;
    padding-left: 20px;
}
h2 {
    color: #4caf50;
}
.page-title span {
    color: rgb(244, 255, 248);
}
.question-mask span {
    color: #4caf50;
}
.q-choices-edit div {
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #c79680c7;
}
.q-required-content-edit div{
    margin-top: 10px;
}
.mustandnotlist{
    display: inline-block;
}