<div class="question-mask">
    <span>Question </span><span data-bind="text: $index"></span>
</div>
<div class="q-title"><h2><span data-bind="text: title"></span></h2></div>
<div class="q-shortdescription"><h4 data-bind="text: shortdescription, visible: useshortdescription"></h4></div>

<div class="matrix">
    <div class="columns-title">
        <div class="t-span-20"></div>
        <div data-bind="foreach: column">
            <div class="t-span-25">
                <span data-bind="text: svalue"></span>
            </div>
        </div>
    </div>
    <div data-bind="foreach: selectedMatrixrow" class="q-rows">
        <div class="q-columns">
            <div class="t-span-20">
                <span data-bind="text: svalue"></span>
            </div>
            <div data-bind="foreach: selectedmatrixcolumn">
                <div class="t-span-25">
                    <select data-bind="options: question.options, selectedOptions: selectedOptions" class="q-choices"></select>
                </div>
            </div>
        </div>
    </div>
</div>
