<div class="question-mask">
    <span>Question </span><span data-bind="text: $index"></span>
</div>
<div class="q-title"><h2><span data-bind="text: title"></span></h2></div>
<div class="q-shortdescription"><h4 data-bind="text: shortdescription, visible: useshortdescription"></h4></div>

<div data-bind="foreach: choices" class="q-choices">
    <div data-bind="ifnot: $parent.isvalid()">
        <div class="q-choice">
            <input required type="radio" data-bind="value: choice_value, checked: $parent.answer" />
            <span data-bind="text: choice_value"></span>
        </div>
    </div>
    <div data-bind="if: $parent.isvalid()">
        <div class="q-choice">
            <input type="radio" data-bind="value: choice_value, checked: $parent.answer" />
            <span data-bind="text: choice_value"></span>
        </div>
    </div>
</div>